body {
  position: relative;
}

.banner {
  background: #FDE57D;
}

.typing {
  display: inline-flex;
  width: 22ch;
  animation: typing 3s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.slide {
    -webkit-animation: slide 2s ease-in-out infinite;
    animation: slide 2s ease-in-out infinite;
}

@keyframes slide {
  50% {
    transform: translate(10px);
  }
  0%, 100% {
    transform: translate(-10px);
  }
}

.fs {
  padding: 14rem 5rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gray {
  color: #4a4a4a;
}

.contact-blue {
  background: #3b80fe;
  color: white;
}

.role {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.5rem;
}

.bio {
  color: #7e7e7e;
  font-size: 1.2rem;
  font-weight: 200;
}

.gold {
  background: #f4b93d;
}

.light-blue {
  background: #6ba7e2;
}
.light-green {
  background: #56d2b8;
}

@media only screen and (max-width: 768px) {
  .pd {
    padding-top: 15rem;
  }

  .slide {
    display: none;
  }

  .fs {
    padding: 1rem;
    text-align: center;
    height: 260px;
    overflow: hidden;
    background: #fde57d;
    width: 100%;
  }

  .role {
    font-size: 1rem;
    font-weight: 800;
    line-height: 1rem;
  }

  .bio {
    font-size: 0.8rem;
  }
}
