body {
  position: relative;
}

.typing {
  display: inline-flex;
  width: 22ch;
  animation: typing 3s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.fs {
  padding: 4rem;
  background: #fff;
}

.gray {
  color: #4a4a4a;
}

.role {
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 3rem;
}

.gold {
  background: #f4b93d;
}

.light-blue {
  background: #6ba7e2;
}
.light-green {
  background: #56d2b8;
}

@media only screen and (max-width: 540px) {
  .pd {
  padding-top: 20rem;
}
}
